<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
</head>
<body>
	<header layout:fragment="header" class="sticky-top header">
		<div class="inner">
			<div class="header-title">
				<a class="header-link" href="/">料理検索アプリ</a>
			</div>
			<div class="header-menu">
				<div id="user-icon">
					<img src="/images/user-icon/icon.jpg" class="user-icon">
				</div>
				<div id="header-menu" class="not-active">
					<botton class="menu-item menu-botton">
						<div class="botton-content">
							<a class="menu-btn" href="/account">マイページ</a>
						</div>
					</botton>
					<botton class="menu-item menu-botton">
						<div class="botton-content">
							<a class="menu-btn" href="/account/favorites">お気に入り</a>
						</div>
					</botton>
					<botton class="menu-item menu-botton">
						<div class="botton-content">
							<a class="menu-btn" href="#">仮</a>
						</div>
					</botton>
					<botton class="menu-item menu-item-logout menu-botton">
						<div class="botton-content">
							<form method="post" th:action="@{/logout}">
								<button class="menu-btn" type="submit">ログアウト</button>
							</form>
						</div>
					</botton>
				</div>
			</div>
		</div>
	</header>
</body>
</html>