<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>ユーザー情報</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/ryori/detail.css}">
</head>
<body>
<div layout:fragment="content" class="detail">
	<h1 class="detail-title">ユーザー情報</h1>
	<form method="post" th:action="@{/account}" class="form-signup" th:object="${loginUser}">
		<input type="hidden" th:field="*{userId}">
		<table class="table table-striped table-bordered">
			<tbody class="thead-light">
				<tr>
					<th class="th-width">ユーザーID</th>
				</tr>
				<tr>
					<td th:text="*{userId}"></td>
				</tr>
				<tr>
					<th class="th-width">ユーザー名</th>
				</tr>
				<tr>
					<td>
						<input type="text" class="form-control" th:field="*{userName}">
					</td>
				</tr>
				<tr>
					<th class="th-width">パスワード</th>
				</tr>
				<tr>
					<td><input type="password" class="form-control" th:field="*{password}"></td>
				</tr>
				<tr>
					<th class="th-width">会員区分</th>
				</tr>
				<tr>
					<td th:text="*{role}"></td>
				</tr>
			</tbody>
		</table>
		<button class="btn btn-primary" type="submit" name="update"> 変更 </button>
	</form>
</div>
</body>
</html>