.headline-title {
	font-size: 28px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 130%;
    margin-top: 35px;
    margin-left: 1em;
}

.ryori-list {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.ryori-contents:hover {
	opacity: 0.86;
	cursor: pointer;
}

.ryori-image {
	display: flex;
  	width: 250px;
  	height: 220px;
  	margin: 28px 8px 6px 8px;
  	border-radius: 8px;
}

@media screen and (max-width: 530px) {
	.ryori-image {
		width: 220px;
  		height: 200px;
	}
}

.ryorimei {
	color: #1e1c1a;
	margin-top: 100px;
	margin-left: 13px;
	font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}

.ryorimei:hover {
	color: #1e1c1a;
	text-decoration: none;
	border-bottom: 1px solid #1e1c1a;
    padding-bottom: 1px;
}
