<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>料理一覧</title>
<!-- 共通CSS読込 -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/list.css}">
<!-- 個別JS読込 -->
<link rel="stylesheet" th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}">
<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}" defer></script>
</head>
<body>
<div layout:fragment="content">
	<h1 class="headline-title">料理候補一覧</h1>
	<div  class="row ryori-list">
    	<div th:each="item: ${ryoriList}" class="col-15 ryori-contents">
    		<a th:href="@{'/ryori/detail/' + ${item.ryoriId}}">
    			<img th:src="@{'/images/ryori-image/' + *{item.ryorimei} + '.jpg'}" class="ryori-image img-fluid">
    		</a>
    		<a th:text="${item.ryorimei}" th:href="@{'/ryori/detail/' + ${item.ryoriId}}" class="ryorimei"></a>
    		
    	</div>
    </div>
	<!-- onclick="history.back()" で前画面に戻る -->
	<!-- <button type="button" onclick="history.back()" class="btn btn-link">検索画面へ戻る</button> -->
</div>
</body>
</html>