<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<title>料理検索</title>
<link rel="stylesheet" th:href="@{/css/search.css}">
</head>
<body>
<div layout:fragment="content" class=" search bg-light">
	<form class="row g-3" method="post" action="/search">
		<h1 class="text-center">食材・カテゴリを選択して料理名を調べよう！</h1>
		<div class="col-md-6">
			<label class="form-label">使用する食材</label><br>
				<select class="form-select pulldown" name="syokuzaimei">
				<option value="">条件なし</option>
				<option th:each="syokuzai : ${syokuzaiList}"
						th:value="${syokuzai.syokuzaiId}"
						th:text="${syokuzai.syokuzaimei}"
						th:selected="${syokuzai.syokuzaimei == selectedValue}"></option>
				</select>
		</div>
		<div class="col-md-6">
			<label class="form-label">料理カテゴリ</label><br>
			<select class="form-select pulldown" name="categoryName">
				<option value="">条件なし</option>
				<option th:each="category : ${categoryList}"
						th:value="${category.categoryId}"
						th:text="${category.categoryName}"
						th:selected="${category.categoryName == selectedValue}"></option>
			</select><br>
			<br>
		</div>
		<button type="submit" class="search-btn">
			<div class="btn-text">検索</div>
		</button>
	</form>
</div>
</body>
</html>